- carbonate_content = @sample.carbonate_content
- if carbonate_content 
  - k = carbonate_content.keys
  - vals = carbonate_content.values
  #grainsize.section
    %h3 Carbonate Content
    %table
      %tr
        -k.each do |h|
          %th=h.to_s.capitalize
      %tr
        -vals.each do |v|
          %td
            =v.to_f.round_to(3)
            \%
