-unless comment.blank?
  .comment{:id => "comment_#{comment.id}"}
    %h1= comment.title
    %p=  comment.body
    %p.commenter=link_to comment.user.full_name, comment.user rescue nil
    .comment_children= render :partial => "comments/comment", :collection => comment.children
