- semantic_form_for @comment do |f|
  %p
    - f.inputs do
      = f.input :body
      = f.input :commentable_type, :as => :hidden
      = f.input :commentable_id, :as => :hidden
      - f.buttons do 
        = f.commit_button :button_html => {:value => "Add a comment"}

