body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica;
  font-size: 14px; }

a:link, a:visited {
  color: darkslateblue;
  text-decoration: none; }
a:hover {
  color: #333333;
  border-bottom: 1px solid #9a8e51;
  background: #ffffdd; }

#banner a:hover {
  background: none;
  border-bottom: none; }
#banner img {
  border: none; }

a img {
  border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  color: black;
  padding: 20px 40px;
  border: solid 1px black;
  margin: 20px 80px;
  background: white url(../images/bg.png) repeat-x scroll left top; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#content {
  float: left;
  background: white url(../images/threecolbg.gif) repeat-y 65% 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px; }

#header {
  padding: 5px 10px; }

#nav {
  padding: 5px 10px;
  border-top: 5px solid #bbbbbb;
  border-bottom: solid 1px #bbbbbb; }
  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #nav li {
    display: inline;
    margin: 0;
    padding: 0; }
  #nav .user_nav {
    font-size: 75%;
    float: right;
    clear: both; }
  #nav a:link, #nav a:visited {
    color: darkslateblue;
    text-decoration: none;
    font-weight: bold; }
  #nav a:hover {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    background-color: #f4f2e4;
    border-bottom: 2px solid #9a8e51; }

#main {
  float: left;
  width: 64%;
  padding-right: 2px; }

#sidebar {
  width: 34%;
  float: right;
  font-size: 0.8em;
  color: #777777; }
  #sidebar h4 {
    background: #eeeeee;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px; }
  #sidebar p {
    font-size: 0.95em;
    padding-left: 4px; }

#footer {
  clear: both;
  background: #fbfaf4;
  border-color: #cccccc;
  color: #999999;
  border-style: solid;
  border-width: 1px 0;
  padding: 5px 5px;
  padding-top: 5px;
  font-size: 0.85em;
  margin-bottom: 1em; }
  #footer a:link, #footer a:visited {
    color: #999999;
    text-decoration: none; }
  #footer a:hover {
    color: #333333;
    text-decoration: none;
    background-color: #f4f2e4;
    border-bottom: 1px solid #9a8e51; }

#banner {
  left: 5px;
  position: absolute;
  top: 0;
  z-index: 5; }

.smallmap {
  height: 360px;
  border: 1px solid #cccccc; }

pre {
  border: 1px dashed #bbbbbb;
  font-size: 0.98em;
  padding: 5px;
  color: gray;
  background: #f1f1ff;
  overflow: auto; }

.notice {
  /*:background #FFFFEE */
  color: darkred;
  /* :font-style italic */
  /* :font-size 0.8em */
  /* :font-weight bold */ }

.subtle {
  color: gray;
  font-style: italic;
  font-size: 0.7em; }

.even {
  background: #f5f5f2; }
  .even:hover {
    background: #ffffdf; }

.odd {
  background: white; }
  .odd:hover {
    background: #ffffdf; }

#record {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px; }

#summary_stats {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  height: auto;
  width: 60px;
  float: right;
  background: #ffeedd;
  /*:display block */
  font-size: 0.8em;
  padding: 2px;
  color: #aaaaaa;
  /* 5 px rounded corners on all sides */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* 5 px rounded corners on only the top sides (top left and top right) */ }
  #summary_stats .block div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.missing_metadata_flag {
  float: right; }

a.button {
  background: transparent url("../images/bg_button_a.gif") no-repeat scroll top right;
  color: #444444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px;
  text-decoration: none; }
  a.button:hover {
    border-bottom: none; }

a.button span {
  background: transparent url("../images/bg_button_span.gif") no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px; }

a.button:active {
  background-position: bottom right;
  color: black;
  outline: none; }

a.button:active span {
  background-position: bottom left;
  padding: 6px 0 4px 18px; }

.clear_button {
  overflow: hidden;
  width: 100%; }

.carbonate_content {
  background: #eeeeee; }

.comments {
  font-size: 0.9em;
  padding-right: 20px;
  font-style: italic;
  border-top: dotted 1px gray; }

.comment {
  padding-left: 140px; }

.section, .userinfo {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eeeeee none repeat scroll 0 0;
  padding: 10px;
  margin-bottom: 4px; }

pre {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #eeeeee none repeat scroll 0 0;
  border: 1px solid #cccccc;
  padding: 10px;
  overflow: auto; }

#topbar {
  color: gray;
  font-size: 0.7em;
  float: right;
  font-weight: bold; }

.notification a {
  color: #cc5500; }

.upcoming {
  color: #cc5500;
  display: block; }

.survey_links {
  display: block;
  padding: 2px;
  min-height: 60px; }

.section h4 {
  background-color: #ffeedd;
  border-top: 1px solid #cccccc;
  color: #444444;
  background-repeat: no-repeat;
  line-height: 30px;
  margin-bottom: 5px;
  margin-top: 10px; }

.reference_box {
  font-size: 0.8em; }
  .reference_box .reference {
    font-style: italic;
    color: gray; }
  .reference_box .toggle_reference {
    padding: 2px 1px;
    background-color: #ffffcc; }

.new {
  background: #ffffcc;
  font-style: italic; }

.new:hover:after {
  content: " - beta feature"; }
