- title "Quality Checks"
%h4 confid_until 1950 and access_code A with sediment samples 
= render :partial => '/surveys/recent', :collection => @surveys, :as => :survey

= content_for(:sidebar_download) do
  =render :partial => '/partials/default_data_export_links', :locals => {:csv_url => url_for(:controller => :quality_checks, :format => :csv)}
