- title 'Sampledata'
- javascript 'jquery.pageless'

= render :partial => 'sampledata', :collection => @sampledata

%p= link_to "New Sampledata", new_sampledata_path

= will_paginate(@sampledata) 
= pageless(@sampledata.total_pages, url_for(:action => :index, :controller => :sampledata))

