%p=link_to "AADC (Data Center)", "http://data.aad.gov.au/", :target => "_blank"
%p=link_to "Aurora Australis Voyage Listing", "http://data.aad.gov.au/aadc/voyages/display_transport.cfm?transport_id=5", :target => "_blank"
