-javascript('jquery.livequery.min', 'jquery.jeditable.mini')
:javascript
  $(document).ready(function(){
    $('.editable_date').editable("/surveys",{
      name      : 'date',
      submit    : "OK",
      cancel    : "Cancel",
      tooltip   : "Click to edit...",
      callback  : function(){$('div.surveys').html($(this).html());},
      indicator : '<img src="images/ajax-loader.gif">',
      submitdata : {page : #{params[:page]||1}, _method: 'get', updated_date : true }
    });

    // $('div.pagination a').livequery('click', function() {
    //  $('div.surveys').load(this.href);
    //  $('div.surveys').effect("slide", {}, "normal");
    //  return false;
    //}); 
  });

- title "Surveys", false

.surveys
  =render :partial => 'all_recent'

-content_for(:sidebar) do
  %h4.notice Featured Surveys from MARS
  %p= render :partial => "featured_surveys"

-content_for(:sidebar) do
  %p= render :partial => "external_links"

-# admin controls
-if admin_is_logged_in?
  -content_for(:sidebar_datamanager) do
    .clear_button{:style => "margin-bottom: 15px;margin-top: 10px;"}
      = link_to "<span>New Survey</span>", new_survey_path, :class => :button
