- title "Recently added features"

- Newfeature.all.sort.reverse.each do |feature|
  .section
    %h3
      %strong 
        =feature[1][:title]
    %p 
      =feature[1][:description]

    -if feature[1][:url]
      %p
        Check out this
        =link_to "example", feature[1][:url]
    %p.subtle{:style=> "text-align:right;"}
      Added on
      =feature[0]

